.env 
*.pem  
*.key 
venv/               
.venv/ 
env/
bin/
lib/
include/

__pycache__/      
*.py[cod]          
*$py.class


.DS_Store    
Thumbs.db         
.vscode/            
.idea/            


build/
dist/
*.egg-info/
